img {
	max-width: none !important;
	border-radius: 5px;
	height: 400px;
	margin-top: 20px;
	width: 670px;
	cursor: pointer;
	/* object-fit: cover; */
}
.react-multi-carousel-item {
	width: 120px !important;
}
