img {
	max-width: none !important;
	border-radius: 5px;
	height: 400px;
	margin-top: 20px;
	width: 670px;
	cursor: pointer;
}
._17tem {
	border-radius: 4px;
	/* width: 100% !important; */
}
#essPrev,
#essNext {
	background-color: #31313379;
	color: rgb(255, 251, 245);
}
._1E1nI {
	object-fit: cover !important;
}

._2Y-TT {
	width: 100%;
	height: 100%;
	position: absolute;
	background: 100% 5%;
	background-size: contain;
	border-radius: 4px !important;
	background-repeat: no-repeat;
}
