img {
	max-width: none !important;
	border-radius: 5px;
	height: 400px;
	margin-top: 20px;
	width: 670px;
	cursor: pointer;
}
._17tem {
	border-radius: 4px;
	/* width: 100% !important; */
}
#essPrev,
#essNext {
	background-color: #313133;
	color: rgb(255, 251, 245);
}
