@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* slider style
 */
.my-carousel {
	border-radius: 4px;
	margin-top: 6px;
	/* height: 50% !important; */
	/* background-color: red; */
}
.carousel-main {
	/* background-color: red; */
	border-radius: 5px;
	/* height: 100% !important; */
}

/* right card display */

.img-add-botom {
	width: 100%;
	height: 200px;
}
.img-add-botom > img {
	width: 100%;
	height: inherit;
	cursor: pointer;
}

#navbar {
	position: sticky;
	top: 0;
	z-index: 999;
}
.react-multiple-carousel__arrow {
	z-index: 2 !important;
}
