@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* slider style
 */
.carousel-slide {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	position: relative;
}

.carousel-slide-item {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	transition: transform 0.5s ease-out;
}

.carousel-slide-item.active {
	transform: translateX(0%);
}

.carousel-slide-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
}

.carousel-slide-indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.5s;
}

.carousel-slide-indicator.active {
	background-color: #333;
}
