@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* slider style
 */
.my-carousel {
	border-radius: 4px;
	margin-top: 6px;
	/* height: 50% !important; */
	/* background-color: red; */
}
.carousel-main {
	/* background-color: red; */
	border-radius: 5px;
	/* height: 100% !important; */
}
